*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    /* border: 1px solid red; */
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7A2048 ;
}

.col{
    border: 1px solid black;
    width: 25vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
}
 
.col p {
    border: 1px solid black;   
    height: 8vh;
    width: 100%;
    text-align:left;
    padding-top:2dvh;
    padding-left:1dvh;
    background-color: #408EC6;
    font-family: "Kode Mono", monospace;
    font-weight:900px;
}

p.p0{
    background-color: #1E2761;
    font-size:20px;
    color: white;
}